<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<h1>MobBnB</h1>
<h2>We take your data..... And your possesions!</h2>

<form action="/signup" method="post">
Enter your email:
<label for="email_sign_up">
<input type="text" name="email_sign_up">
</label>
<div>
Enter your password:
<label for="password_sign_up">
<input type="text" name="password_sign_up">
</label>
</div>

<label for="Submit">
   Click here:
<input type="submit" value="Sign Up">
</label>
</form>

<div>
<form action="/login" method="get">
<label for="Submit">
   Already signed-up? Go to login:
<input type="submit" value="Login">
</label>
</form>
</div>

</body>
</html>
