<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<style>
html {
  font-family: 'Lato', sans-serif; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  }
body {background-color: powderblue; }
h1   {
  color: black; 
  font-family: 'Lato', sans-serif;
  }
#rcorners2 { 
  border-radius: 15px; 
  border: 1px solid #01A9DB; 
  padding: 10px; 
  width: 40%; 
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  }
button {
  color: #58D3F7;
}
input[type=text]{
  width: 50%;
  border-radius: 6px;
}
input[type=password]{
  width: 50%;
  border-radius: 6px;
}
input[type=submit]{
  font-family: 'Lato', sans-serif;
  background-color: teal;
  color: white;
  border-radius: 6px;
}
input {
  width: 30%;
}
</style>
<body>

<h1>MobBnB</h1>
<h2>We take your data..... And your possesions!</h2>
<div id="rcorners2">
<form action="/signup" method="post">
Enter your email:
<label for="email_sign_up">
<input type="text" name="email_sign_up">
</label>
</div>
<div id="rcorners2">
Enter your password:
<label for="password_sign_up">
<input type="password" name="password_sign_up">
</label>
</div>
<div id="rcorners2">
<label for="Submit">
   Click here:
<input type="submit" value="Sign Up">
</label>
</form>
</div>
<div id="rcorners2">
<form action="/login" method="get">
<label for="Submit">
   Already signed-up? Go to login:
<input type="submit" value="Login">
</label>
</form>
</div>

</body>

</html>
