<form action="/list_spaces" method="post">
Enter the name of your property:
<label for="space_name">
<input type="text" name="space_name">
</label>
<div>
Enter the address of the property:
<label for="space_address">
<input type="text" name="space_address">
</label>
</div>
<label for="Add"> 
<input type="submit" value="Add">
</form>