<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<style>
html {
  font-family: 'Lato', sans-serif; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  }
body {background-color: powderblue; }
h1   {
  color: black; 
  font-family: 'Lato', sans-serif;
  }
#rcorners2 { 
  border-radius: 15px; 
  border: 1px solid #01A9DB; 
  padding: 10px; 
  width: 40%; 
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  }
button {
  color: #58D3F7;
}
input[type=text]{
  width: 50%;
  border-radius: 6px;
}
input[type=password]{
  width: 50%;
  border-radius: 6px;
}
input[type=submit]{
  font-family: 'Lato', sans-serif;
  background-color: teal;
  color: white;
  border-radius: 6px;
}
input {
  width: 30%;
}
</style>

<form action="/list_spaces" method="post">
Enter the name of your property:
<label for="space_name">
<input type="text" name="space_name">
</label>
<div>
Enter the address of the property:
<label for="space_address">
<input type="text" name="space_address">
</label>
</div>
Enter the description of the property:
<label for="space_description">
<input type="text" name="space_description">
</label>
Enter the price of the property (per night):
<label for="space_price">
<input type="text" name="space_price">
</label>

<label for="Add">
<input type="submit" value="Add">
</form>
</html>