<h2>
  <% if @result == true %>Welcome to mobbnb!!
  <form action ='/view_spaces' method="get">
  <input type="submit" value="See Spaces">
  </form>

  <form action ='/list_spaces' method="get">
  <input type="submit" value="List a Space">
  </form>
  <% end %>
</h2>
<h2>
  <% if @result == false %>Sorry, your details are incorrect!
  <form action ='/login' method="get">
  <input type="submit" value="Back to log-in">
  <%# <button type="submit" formaction="/action_page2.php">Submit to another page</button> %>
  </form>
  <% end %>
</h2>
