<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<style>
html {
  font-family: 'Lato', sans-serif; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  }
body {background-color: powderblue; }
h1   {
  color: black; 
  font-family: 'Lato', sans-serif;
  }
#rcorners2 { 
  border-radius: 15px; 
  border: 1px solid #01A9DB; 
  padding: 10px; 
  width: 40%; 
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  }
button {
  color: #58D3F7;
}
input[type=text]{
  width: 50%;
  border-radius: 6px;
}
input[type=password]{
  width: 50%;
  border-radius: 6px;
}
input[type=submit]{
  font-family: 'Lato', sans-serif;
  background-color: teal;
  color: white;
  border-radius: 6px;
}
input {
  width: 30%;
}
</style>
<h2>
  <% if @result == true %>Welcome to mobbnb!!
  <form action ='/view_spaces' method="get">
  <input type="submit" value="See Spaces">
  </form>

  <form action ='/list_spaces' method="get">
  <input type="submit" value="List a Space">
  </form>
  <% end %>
</h2>
<h2>
  <% if @result == false %>Sorry, your details are incorrect!
  <form action ='/login' method="get">
  <input type="submit" value="Back to log-in">
  <%# <button type="submit" formaction="/action_page2.php">Submit to another page</button> %>
  </form>
  <% end %>
</h2>
</html>