<form action="/logincheck" method="post">
Enter your email:
<label for="email_log_in">
<input type="text" name="email_log_in">
</label>
<div>
Enter your password:
<label for="password_log_in">
<input type="password" name="password_log_in">
</label>
</div>

<label for="Submit">
   Click here:
<input type="submit" value="Log-in">
</label>
</form>