<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<style>
html {
  font-family: 'Lato', sans-serif; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  }
body {background-color: powderblue; }
h1   {
  color: black; 
  font-family: 'Lato', sans-serif;
  }
#rcorners2 { 
  border-radius: 15px; 
  border: 1px solid #01A9DB; 
  padding: 10px; 
  width: 40%; 
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  }
button {
  color: #58D3F7;
}
input[type=text]{
  width: 50%;
  border-radius: 6px;
}
input[type=password]{
  width: 50%;
  border-radius: 6px;
}
input[type=submit]{
  font-family: 'Lato', sans-serif;
  background-color: teal;
  color: white;
  border-radius: 6px;
}
input {
  width: 30%;
}
</style>
<h1>Congratulations! You are part of the mob!</h1>

<br><img src="https://qph.fs.quoracdn.net/main-qimg-c8781a4bb1f17e330b50cb35f851da05-c">

<br><form action ='/login' method="get">
  <input type="submit" value="Back to log-in">
</form>
</html>