<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">


<h1>MobBnB</h1>
<h2>Hello this is a lovely space</h2>


<% @spaces.each do |space| %>
<li class="space">
<%= space.space_name %>
<%= space.space_address %>
</li>
<% end %>

</body>
</html>